#defaultCanvas0_ {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

body { 
  margin: 0;   /* Remove body margins */
}

.finalCenter {
  margin: auto;
  width: 60%;
  /* border: 5px solid #FFFF00; */
  padding: 10px;
}

.red {
  /* font-family: my; */
  color:red
}

.blue {
  color: blue
}